<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>TP-05-Angular</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

	<script src="app.js"></script>
	<script src="controllers.js"></script>

</head>
<body>
	
	<header class="well">
		<div class="container">
			<div ng-controller="MenuCtrl" class="row">
				<div class="col-sm-4">
					<button ng-click="mostrarSeccion('seccionUno')" class="btn btn-primary btn-block">Seccion 1</button>				
				</div>
				<div class="col-sm-4">
					<button ng-click="mostrarSeccion('seccionDos')" class="btn btn-default btn-block">Seccion 2</button>
				</div>
				<div class="col-sm-4">
					<button ng-click="mostrarSeccion('seccionTres')" class="btn btn-primary btn-block">API ML</button>
				</div>
			</div>
		</div>
	</header>

	<div ui-view class="container"></div>

</body>
</html>